<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomlive.dao.BaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.tomlive.entity.BaseInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="company_aptitude" jdbcType="VARCHAR" property="companyAptitude" />
    <result column="bus_route" jdbcType="VARCHAR" property="busRoute" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    
    <result column="company_profile" jdbcType="VARCHAR" property="companyProfile" />
    <result column="company_vision" jdbcType="VARCHAR" property="companyVision" />
    <result column="company_philosophy" jdbcType="VARCHAR" property="companyPhilosophy" />
    <result column="company_development" jdbcType="VARCHAR" property="companyDevelopment" />
    <result column="enterprise_culture" jdbcType="VARCHAR" property="enterpriseCulture" />
    
    
  </resultMap>
 
     <!--  自定义sql语句  -->
 <select id="selectAllBaseInfo" resultMap="BaseResultMap">
select 
 *
 from   base_info
 limit 0,1
 </select>
 
 
<!--  自定义修改 -->
 <update id="updateByPrimaryKeySelective" parameterType="com.tomlive.entity.BaseInfo">
    update base_info
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="busRoute != null">
        bus_route = #{busRoute,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyProfile != null">
      company_profile = #{companyProfile,jdbcType=VARCHAR},
      </if>
      <if test="companyVision != null">
       company_vision= #{companyVision,jdbcType=VARCHAR},
      </if>
      <if test="companyPhilosophy != null">
      company_philosophy=  #{companyPhilosophy,jdbcType=VARCHAR},
      </if>
      <if test="companyDevelopment != null">
        company_development=#{companyDevelopment,jdbcType=VARCHAR},
      </if>
      <if test="companyAptitude != null">
        company_aptitude=#{companyAptitude,jdbcType=VARCHAR},
      </if>
       <if test="address != null">
        address=#{address,jdbcType=VARCHAR},
      </if>
       <if test="enterpriseCulture != null">
        enterprise_culture=#{enterpriseCulture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
 
 

 
 

 
 
 
 
 
 
</mapper>