<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomlive.dao.OperationMapper">
  <resultMap id="BaseResultMap" type="com.tomlive.entity.Operation">
    <id column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
    <result column="operation_content" jdbcType="VARCHAR" property="operationContent" />
   <!--  <result column="user_id" jdbcType="INTEGER" property="userId" /> -->
    <result column="operation_ip" jdbcType="VARCHAR" property="operationIp" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    
    <association property="user" javaType="com.tomlive.entity.User">  
      <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    </association>
  </resultMap>
  <!-- <sql id="Base_Column_List">
    operation_id, operation_time, operation_content, user_id, operation_ip, param
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operation
    where operation_id = #{operationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from operation
    where operation_id = #{operationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tomlive.entity.Operation">
    insert into operation (operation_id, operation_time, operation_content, 
      user_id, operation_ip, param
      )
    values (#{operationId,jdbcType=INTEGER}, #{operationTime,jdbcType=TIMESTAMP}, #{operationContent,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{operationIp,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}
      )
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.tomlive.entity.Operation">
    update operation
    <set>
      <if test="operationTime != null">
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationContent != null">
        operation_content = #{operationContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="operationIp != null">
        operation_ip = #{operationIp,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tomlive.entity.Operation">
    update operation
    set operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_content = #{operationContent,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      operation_ip = #{operationIp,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR}
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update> -->
  
  
     <!-- 自定义查询语句 -->
      <select id="selectAllOperation" resultMap="BaseResultMap">
        select *
        from   operation
      </select>
      
     <!--  添加日志的方法 -->
   <insert id="insertSelective" parameterType="com.tomlive.entity.Operation">
    insert into operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="operationContent != null">
        operation_content,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="operationIp != null">
        operation_ip,
      </if>
      <if test="param != null">
        param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationContent != null">
        #{operationContent,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=INTEGER},
      </if>
      <if test="operationIp != null">
        #{operationIp,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  
</mapper>