<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomlive.dao.OperationMapper">
  <resultMap id="BaseResultMap" type="com.tomlive.entity.Operation">
    <id column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
    <result column="operation_content" jdbcType="VARCHAR" property="operationContent" />

    <result column="operation_ip" jdbcType="VARCHAR" property="operationIp" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="userName" jdbcType="VARCHAR" property="userName"/>
  </resultMap>
 
  
  
     <!-- 自定义查询语句 -->
      <select id="selectAllOperation" resultMap="BaseResultMap">
        select *
        from   operation
      </select>
      
     <!--  添加日志的方法 -->
   <insert id="insertSelective"  parameterType="com.tomlive.entity.Operation">
    insert into operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="operationContent != null">
        operation_content,
      </if>
      <if test="operationIp != null">
        operation_ip,
      </if>
      <if test="param != null">
        param,
      </if>
       <if test="userName != null">
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationContent != null">
        #{operationContent,jdbcType=VARCHAR},
      </if>
      <if test="operationIp != null">
        #{operationIp,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
          <if test="userName != null">
        #{userName,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


 <!--  根据条件产看日志信息 -->
<select id="selectOperationByCondition"  parameterType="com.tomlive.util.OperationUtil"  resultMap="BaseResultMap">
  select * from operation
  <where>
     <if test="  null !=operationIp and ''!=operationIp">
         and operation_ip LIKE    concat("%",#{operationIp},"%")          
      </if>
	 <if test="  null  != operationContent and '' != operationContent">
        and  operation_content  LIKE   concat("%",#{operationContent},"%")   
      </if>
        <if test=" null  != beginTime and ''!= beginTime">
        <![CDATA[
       and  operation_time >= #{beginTime}
       ]]>
     </if>
        <if test=" null  != endTime and ''!= endTime">
        <![CDATA[
       and  operation_time <= #{endTime}
       ]]>
      </if>
  </where>
</select>

</mapper>