<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomlive.dao.TalentRecruitmentMapper">
  <resultMap id="BaseResultMap" type="com.tomlive.entity.TalentRecruitment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_type" jdbcType="VARCHAR" property="jobType" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_statement" jdbcType="VARCHAR" property="jobStatement" />
    <result column="job_requirement" jdbcType="VARCHAR" property="jobRequirement" />
    <!-- <result column="user_id" jdbcType="INTEGER" property="userId" /> -->
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
      <association property="user" javaType="com.tomlive.entity.User"> 
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    </association>

    
  </resultMap>
 <!--  <sql id="Base_Column_List">
    id, job_category, job_title, job_statement, job_requirement, user_id, creation_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from talent_recruitment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from talent_recruitment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tomlive.entity.TalentRecruitment">
    insert into talent_recruitment (id, job_category, job_title, 
      job_statement, job_requirement, user_id, 
      creation_time)
    values (#{id,jdbcType=INTEGER}, #{jobCategory,jdbcType=VARCHAR}, #{jobTitle,jdbcType=VARCHAR}, 
      #{jobStatement,jdbcType=VARCHAR}, #{jobRequirement,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.tomlive.entity.TalentRecruitment">
    update talent_recruitment
    <set>
      <if test="jobCategory != null">
        job_category = #{jobCategory,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobStatement != null">
        job_statement = #{jobStatement,jdbcType=VARCHAR},
      </if>
      <if test="jobRequirement != null">
        job_requirement = #{jobRequirement,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tomlive.entity.TalentRecruitment">
    update talent_recruitment
    set job_category = #{jobCategory,jdbcType=VARCHAR},
      job_title = #{jobTitle,jdbcType=VARCHAR},
      job_statement = #{jobStatement,jdbcType=VARCHAR},
      job_requirement = #{jobRequirement,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
      <!-- 添加招聘岗位 -->
 <insert id="insertSelective" parameterType="com.tomlive.entity.TalentRecruitment">
    insert into talent_recruitment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobType != null">
        job_type,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="jobStatement != null">
        job_statement,
      </if>
      <if test="jobRequirement != null">
        job_requirement,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobType != null">
        #{jobType,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobStatement != null">
        #{jobStatement,jdbcType=VARCHAR},
      </if>
      <if test="jobRequirement != null">
        #{jobRequirement,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- 查询岗位招聘的全部信息 -->
  <select id="selectAllTalentRecruitment" resultMap="BaseResultMap">
    select 
    t.id, job_type, job_name, job_statement, job_requirement, u.user_name, creation_time,t.status
    from talent_recruitment t
    left join user u      on  t.user_id=u.id
    
  </select>
  
    <!--   查询岗位招聘的数量 -->
  <select id="selectTalentRecruitmentCount" resultType="java.lang.Integer">
  select  count(*) from talent_recruitment
  </select>
  
 <!--  每个岗位需要招聘多少人 -->
   <select id="selectSizeGroupBy" resultType="com.tomlive.util.TalentRecruitmentUtil">
    SELECT job_type  as jobType ,count(job_type) as count from talent_recruitment GROUP BY job_type
  </select>
  
  
   <!--  岗位管理的多条件查询 -->
  <select id="selectTalentRecruitmentByCondition" resultMap="BaseResultMap">
   select  
  *
   from talent_recruitment
   <where>
     <!-- 岗位名称 -->
       <if test="jobCategory != null">
        job_name=#{jobName}  
      </if>
        <!--  岗位类别 -->
        <if test="jobType != null">
        job_type=#{jobType}  
      </if>
        <!--创建时间 -->
   <if test="creationTime != null">
        creation_time=#{}
      </if>
  
  
   </where>
  </select>
  
  
  
</mapper>